<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div *ngIf="router.url != '/editpet' && router.url != '/petdetails' && router.url !='/addpet'">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Nume</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actiuni</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data;let i=index">

                    <td id="{{i+1}}">{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.status}}</td>
                    <td><a class="btn btn-info" routerLink="/petdetails">Vizualizare</a>

                        <a class="btn btn-warning" routerLink="/editpet">Editare</a>
                        <a click="deletePet(item.id)" type="button" class="btn btn-danger" href="">Stergere<span class="sr-only">(current)</span></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>